{{> layout/header}}

{{> navbar}}

<body>

<div class="container">
    <h1 class="pt-md-5 pb-md-5">Trainers</h1>

    <div class="card-deck">
        {{#trainersList}}
        <div class="col-md-3">
            <div class="card shadow-sm mb-3">
                <div class="card-header">
                    <h4 class="my-0 font-weight-normal">{{name}}</h4>
                </div>

                {{#team}}
                <img class="card-img-top" src="{{pokemonTypeDetails.sprites.front_default}}" alt="Pokemon of {{name}}"/>

                <div class="card-body">
                    <span class="badge badge-primary">Level : {{level}}</span>
                </div>

<!--                <div class="card-body">-->
<!--                    <span class="badge badge-primary">Types : </span>-->
<!--                    {{#pokemonTypeDetails.types}}-->
<!--                    <span class="badge badge-primary">- {{this}}</span>-->
<!--                    {{/pokemonTypeDetails.types}}-->
<!--                </div>-->

<!--                <div class="card-body">-->
<!--                    <span class="badge badge-primary">Speed : {{pokemonTypeDetails.stats.speed}}</span>-->
<!--                    <span class="badge badge-primary">Attack : {{pokemonTypeDetails.stats.attack}}</span>-->
<!--                    <span class="badge badge-primary">Defense : {{pokemonTypeDetails.stats.defense}}</span>-->
<!--                    <span class="badge badge-primary">HP : {{pokemonTypeDetails.stats.hp}}</span>-->
<!--                </div>-->


                {{/team}}
            </div>
        </div>
        {{/trainersList}}
    </div>

</div>

</body>
</html>